.container:not(:hover){
	overflow-x: hidden;
}

.wrap{
	flex-wrap: wrap;
}

.link{
	flex: 1
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.link{
		flex: 0 1 calc((100% / 3) - 8px)
	}
}

@media screen and (min-width: 1200px){
	.link{
		flex: 0 1 calc((100% / 6) - 8px)
	}
}
